<div class="modal-dialog">
  <div class="modal-content">
    <!-- Header -->
    <div class="modal-header">
      <a href={{googleLink}}>
        <img class="" src={{imageLink}} alt="cover">
      </a>
      <h4 class="modal-title w-100" id="myModalLabel">
        {{title}}
        <span>
          <div class="book-authors"><h6>{{authors}}</h6></div>
        </span>
      </h4>
      <button
        type="button"
        class="close -right"
        aria-label="Close"
        (click)="modalRef.close()">
        <span aria-hidden="true">×</span>
      </button>
    </div>

    <div class="modal-body">
      <!-- Description -->
      <div *ngIf="shortDescription; else longDescBlock">
        {{description | slice:0:232 | description}}...
        <span>
          <a class="info" (click)="onDescriptionSizeChange()">more</a>
        </span>
      </div>
      <ng-template #longDescBlock>
        {{description | description}}
        <span>
          <a class="info" (click)="onDescriptionSizeChange()">less</a>
        </span>
      </ng-template>

      <!-- Form -->

    </div>

    <div class="modal-footer">
      <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close" (click)="modalRef.close()" mdbWavesEffect>Close</button>
      <button type="button" mdbBtn color="primary" class="relative waves-light" mdbWavesEffect>Save!</button>
    </div>

  </div>
</div>

