
<aside>
  <div class="logo">
    <a href="https://github.com/TimothyJan/Books-for-me">
      Books for me
    </a>
  </div>
  <nav>
    <ul>
      <li class="subhead">DISCOVER</li>
      <li>
        <a class="nav scrolltoview current" href="#search">
          <span class="icon">🔍</span>
          Search
        </a>
      </li>
      <li>
        <a class="nav scrolltoview" href="#reviewed">
          <span class="icon">💖</span>
          Reviewed
        </a>
      </li>
      <li class="subhead">LIBRARY</li>
      <li>
        <a class="nav scrolltoview" href="#fiction">
          <span class="icon">📜</span>
          Fiction
        </a>
      </li>
      <li>
        <a class="nav scrolltoview" href="#fantasy">
          <span class="icon">🗡️</span>
          Fantasy
        </a>
      </li>
      <li>
        <a class="nav scrolltoview" href="#selfhelp">
          <span class="icon">📖</span>
          Self-Help
        </a>
      </li>
      <li>
        <a class="nav scrolltoview" href="#romance">
          <span class="icon">💕</span>
          Romance
        </a>
      </li>
      <li class="nav trigger"><span class="icon">✨</span>More</li>
    </ul>
  </nav>
</aside>
